<div class="row">
	<div class="col-sm-3">
		<div routerLink="/messages/1165" class="mate">Mate name 1 <span class="red">5</span></div>
		<div routerLink="/messages/9999" class="mate">Mate name 2</div>
	</div>
	<div class="col-sm-9">
		<div class="message-box">
			<div *ngFor="let current_message of currentMateChat" class="message">
				<div class="left-align">[{{current_message.id}}] - {{current_message.message}} - {{current_message.action_time | date : 'medium'}}</div>
			</div>
		</div>

		<div class="align-bottom">
			<textarea class="form-control" [(ngModel)]="messageInput" ></textarea>
		</div>
		<button type="button" class="btn btn-primary" (click)="sendMsg()">Send</button>
	</div>
</div>