<div class="row">
	<div class="col-sm-3">
		<div *ngFor="let mateListItem of mateList" routerLink="/messages/{{mateListItem.user_id_mate}}" class="mate">{{mateListItem.username}} <span  *ngIf="mateListItem.count" class="red">{{mateListItem.count}}</span></div>
	</div>
	<div class="col-sm-9">
		<div>timeout_id: {{timeoutId}}</div>
		<div>number_of_prev_messages_prepended: {{number_of_prev_messages_prepended}}</div>

		<h6>chat with: {{account_info.username}}</h6>
		<div class="message-box">
			<div *ngIf="number_of_prev_messages_prepended > 19" class="prev-loader" (click)="loadPrevMessages()" >...load previous messanges...</div>
			<div *ngFor="let current_message of currentMateChat" class="message">
				<div [ngClass]="{'left-align': current_message.direction == 2, 'right-align': current_message.direction == 1}" >[{{current_message.id}}] - {{current_message.message}} - {{current_message.action_time | date : 'medium'}}</div>
			</div>
		</div>

		<div class="align-bottom">
			<textarea class="form-control" [(ngModel)]="messageInput" ></textarea>
		</div>
		<button type="button" class="btn btn-primary" (click)="sendMsg()">Send</button>
	</div>
</div>