
<div>
	<form (ngSubmit)="updateInfo()" #updateInfoForm="ngForm">
		<div><h4>Update personal information</h4></div>
		<div class="row">
			<div class="col-sm-3">Username</div>
			<div class="col-sm-4"><input class="form-control" name="username" type="text" [(ngModel)]="username"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">First name</div>
			<div class="col-sm-4"><input class="form-control" name="fname" type="text" [(ngModel)]="fname"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">Second Name</div>
			<div class="col-sm-4"><input class="form-control" name="sname" type="text" [(ngModel)]="sname"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">Gender</div>
			<div class="col-sm-4">
				<select class="form-control" [(ngModel)]="gender" name="gender">
					<option *ngFor="let gender_list_item of gender_list" [value]="gender_list_item.value">{{gender_list_item.name}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Sex preference</div>
			<div class="col-sm-4">
				<select class="form-control" [(ngModel)]="sex_preference" name="sex_preference">
					<option *ngFor="let prefer_list_item of prefer_list" [value]="prefer_list_item.value">{{prefer_list_item.name}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Birth Day</div>
			<div class="col-sm-4">
				<input class="form-control" type="date" [ngModel]="birth | date:'yyyy-MM-dd'" (ngModelChange)="birth = $event" name="birth">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">Phone</div>
			<div class="col-sm-4"><input class="form-control" name="phone" type="text" [(ngModel)]="phone"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">Bio</div>
			<div class="col-sm-4"><textarea class="form-control" name="bio" type="text" [(ngModel)]="bio"></textarea></div>
		</div>
		<div class="row">
			<div class="col-sm-3">Interests</div>
			<div class="col-sm-4"><textarea class="form-control" name="interests" type="text" [(ngModel)]="interests"></textarea></div>
		</div>
		<div>
			<button type="submit" class="btn">Update</button>
			<div *ngIf="infoUpdated == 1">info was updated</div>
			<div *ngIf="infoUpdated == 2">error while updating</div>
		</div>
	</form>	

		<hr/>

	<form (ngSubmit)="updateEmail()" #updateEmailForm="ngForm">
		<div><h4>Update email</h4></div>
		<div class="row">
			<div class="col-sm-3">Email</div>
			<div class="col-sm-4"><input class="form-control" name="email" type="text" [(ngModel)]="email"></div>
		</div>
		<div>
			<button type="submit" class="btn">Update</button>
			<div *ngIf="emailConfirmSent == 1">Check your new email to confirm email update</div>
			<div *ngIf="emailConfirmSent == 2">error while updating</div>
		</div>
	</form>	

		<hr/>

	<form (ngSubmit)="updatePassword()" #updatePasswordForm="ngForm">
		<div><h4>Update password</h4></div>
		<div class="row">
			<div class="col-sm-3">Old password</div>
			<div class="col-sm-4"><input class="form-control" name="password" type="password" [(ngModel)]="password"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">New Password</div>
			<div class="col-sm-4"><input class="form-control" name="new_password" type="password" [(ngModel)]="new_password"></div>
		</div>
		<div class="row">
			<div class="col-sm-3">Repeate New Password</div>
			<div class="col-sm-4"><input class="form-control" name="repeate_password" type="password" [(ngModel)]="repeate_password"></div>
		</div>
		<div>
			<button type="submit" class="btn">Update</button>
			<div *ngIf="passwordUpdated == 1">password was updated</div>
			<div *ngIf="passwordUpdated == 2">error while updating</div>
		</div>
	</form>

</div>
<h3>{{ message }}</h3>
