.paginator button {
	padding-bottom: 1px;
	padding-top: 1px;
}

.paginator {
	float: right;
}

.clickable {
    cursor: pointer;
}
.clickable:hover {
    text-decoration: underline;
}



div.photo-avatar {
	width: 450px;
	height: 400px;
	display: block;
	margin: 2px;
	border-width: 2px;
	border-color: black;
}

div.photo-small-avatar {
	width: 75px;
	height: 50px;
	display: inline-block;
	margin: 2px;
	border-width: 2px;
	border-color: black;
}

.mate {
	border: 1px gray solid;
	height: 143px;
	width: 90%;
}

div.photo {
	width: 150px;
	height: 100px;
	display: inline-block;
	margin: 2px;
	border-width: 2px;
	border-color: black;
}

img.fitdiv {
    max-width: 100%;
    max-height: 100%; 
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}