<div *ngIf="!account_shown" class="row matelist">
	<div class="col-sm-4">
		<form  #exploreForm="ngForm" (ngSubmit)="searchMatesInitial()">
			<div><h6>SEARCH FILTERS:</h6></div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="man" [checked]="man" (change)="man = !man">
			  <label class="form-check-label" for="inlineCheckbox1">Man</label>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="woman" [checked]="woman" (change)="woman = !woman">
			  <label class="form-check-label" for="inlineCheckbox2">Woman</label>
			</div>

		    <div class="form-group">
		      <label >Bottom Age:  {{bottomAge}}</label>
		      <input value="{{bottomAge}}" type="range" min="18" max="100" class="form-control-range" #rangerBottomAge (input)="setBottomAge(rangerBottomAge.value)">
		    </div>
		    <div class="form-group">
		      <label >Upper Age:  {{upperAge}}</label>
		      <input value="{{upperAge}}" type="range" min="18" max="100" class="form-control-range" #rangerUpperAge (input)="setUpperAge(rangerUpperAge.value)">
		    </div>

		    <div class="form-group">
		      <label for="formControlRange">Bottom Rating:  {{bottomRating}}</label>
		      <input value="0" type="range" min="0" max="100" class="form-control-range" #rangerBottomRating (input)="setBottomRating(rangerBottomRating.value)">
		    </div>
		    <div class="form-group">
		      <label for="formControlRange">Upper Rating:  {{upperRating}}</label>
		      <input value="100" type="range" min="0" max="100" class="form-control-range" #rangerUpperRating (input)="setUpperRating(rangerUpperRating.value)">
		    </div>

			<div class="form-group">
				<div>Interests</div>
				<div><textarea class="form-control" name="interests" type="text" [(ngModel)]="interests"></textarea></div>
			</div>

		    <div class="form-group">
		      <label for="formControlRange">Radius:  {{radius}} km</label>
		      <input value="50" type="range" min="1" max="100" class="form-control-range" #rangerRadius (input)="setRadius(rangerRadius.value)">
		    </div>


			<div class="form-group row">
				<div class="col-sm-5">Sort by:</div>
				<div class="col-sm-7">
					<select class="form-control" [(ngModel)]="sort" name="sort">
						<option *ngFor="let sort_list_item of sort_list" [value]="sort_list_item.value">{{sort_list_item.name}} <span *ngIf="sort_list_item.order == 'asc'">&uarr;</span> <span *ngIf="sort_list_item.order == 'desc'">&darr;</span></option>
					</select>
				</div>
			</div>
			<div class="form-check form-check-inline">
			  <input class="form-check-input" type="checkbox" id="online" [checked]="online" (change)="online = !online">
			  <label class="form-check-label" for="inlineCheckbox1">Only online users</label>
			</div>
			<div>
				<button type="submit" class="btn">Search</button>
			</div>


		</form>
	</div>
	<div class="col-sm-8">
		<div>
			<h6 class="d-sm-inline-block">SEARCH RESULTS:</h6>
			<div *ngIf="finded_mates.length > 0 || page > 1" class="d-sm-inline-block paginator">
				<button type="button" class="btn btn-primary" (click)="prevPage()" [disabled]="page == 1">Prev</button>
				Page: {{page}}
				<button type="button" class="btn btn-primary" (click)="nextPage()" >Next</button>
			</div>
		</div>
		<div class="mate" *ngFor="let mate of finded_mates">
			<div class="row">
				<div class="col-sm-3">
					<div class="photo">
						<img class="fitdiv" src="data:image/jpeg;base64,{{mate.avatar_src}}">
						<div *ngIf="mate.online_status"> online </div>
						<div *ngIf="!mate.online_status"> offline </div>
						<div> id: {{mate.user_id}} </div>
					</div>
				</div>
				<div class="col-sm-5">
					<h4>{{mate.username}}, {{mate.age }} <span *ngIf="mate.gender == 1">&#9794;</span> <span *ngIf="mate.gender  == 2">&#9793;</span></h4>
					<h5>{{mate.fname}} {{mate.sname}}</h5>
					<h6>Distance: {{mate.distance | number:'1.1-1'}} km</h6>
					<h6>Match: <span *ngIf="!mate.matched_interests">0</span>{{mate.matched_interests}}</h6>
					<h6>Rating: {{mate.rating * 100 | number:'2.1-1'}}%</h6>
				</div>
				<div class="col-sm-4">
					<button type="button" class="btn btn-info" (click)="showAccount(mate.user_id)" >Show</button>	
					<button type="button" class="btn btn-success" (click)="like(mate.user_id)" >Like</button>	
					<button type="button" class="btn btn-danger" (click)="dislike(mate.user_id)" >Dislike</button>	
				</div>
			</div>
		</div>
		<div>
			<!-- <h6 class="d-sm-inline-block">SEARCH RESULTS:</h6> -->
			<div *ngIf="finded_mates.length > 0" class="d-sm-inline-block paginator">
				<button type="button" class="btn btn-primary" (click)="prevPage()" [disabled]="page == 1">Prev</button>
				Page: {{page}}
				<button type="button" class="btn btn-primary" (click)="nextPage()" >Next</button>
			</div>
		</div>
	</div>
</div>

<div *ngIf="account_shown" class="row account-info">
	<div class="col-sm-6">
		ACCOUNT {{account_info.name}} INFO
	</div>
	<div class="col-sm-6">
		<button type="button" class="btn btn-danger" (click)="closeAccount()" >Close</button>	
	</div>
</div>
