<div>
	<form  #LocationFlagForm="ngForm">
		<div><h4>Location Settings:</h4></div>
		<div class="row">
			<div class="col-sm-3">Location type</div>
			<div class="col-sm-4">
				<select class="form-control" [(ngModel)]="geo_type" name="geo_type" (change)="updateGeotype()">
					<option *ngFor="let geotype_list_item of geotype_list" [value]="geotype_list_item.value">{{geotype_list_item.name}}</option>
				</select>
			</div>
		</div>
	</form>
</div>

<agm-map [latitude]="geo_lat" [longitude]="geo_lng" [zoom]="12" (mapClick)="onChooseLocation($event)">
	<agm-marker [latitude]="geo_lat_marker" [longitude]="geo_lng_marker"></agm-marker>
	
</agm-map>

<div>geo_type: {{geo_type}}</div>
<div>geo_lat: {{geo_lat}}</div>
<div>geo_lng: {{geo_lng}}</div>

https://www.youtube.com/watch?v=lApggVS0icc