div.photo {
	width: 250px;
	height: 200px;
	display: inline-block;
	margin: 2px;
	border-width: 2px;
	border-color: black;
}

img.fitdiv {
    max-width: 100%;
    max-height: 100%; 
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.bottom_buttons {
	position: relative;
	top: -42px;
	left: 51px;
}