<div class="my-navbar">
	<button routerLink="/explore" type="button" class="btn btn-info btn-sm btn-block">Explore</button>
	<button routerLink="/profile" type="button" class="btn btn-info btn-sm btn-block">Profile</button>
	<button routerLink="/connections" type="button" class="btn btn-info btn-sm btn-block">Connections</button>
	<button routerLink="/messages" type="button" class="btn btn-info btn-sm btn-block">Messages
		<span *ngIf="notifCount['new_msg'] > 0" class="red">{{notifCount['new_msg']}}</span>
	</button>
	<button routerLink="/notifications" type="button" class="btn btn-info btn-sm btn-block">Notifications
		<span *ngIf="notifCount['new_notif'] > 0" class="red">{{notifCount['new_notif']}}</span>
	</button>
	<button routerLink="/logout" type="button" class="btn btn-secondary btn-sm btn-block">Exit</button>
</div>