<div class="row">
	<button routerLink="/login" type="button" class="btn btn-info">Back to Login</button>
</div>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<h2>FORGOT PASSWORD?</h2>
		<h6>Leave your email and we send you link to reset password</h6>
		<form (ngSubmit)="sendForgot()" #forgotForm="ngForm">
			<div class="row">
				<div class="col-sm-6">Email</div>
				<div class="col-sm-6">
					<div *ngIf="errors['email']" class="myerror">{{errors['email']}}</div>
					<input class="form-control" name="email" type="text" [(ngModel)]="email">
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-success" [disabled]="loading == 1">Send</button>
				<i *ngIf="loading == 1" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
			</div>
		</form>
		<h3>{{ sended }}</h3>
	</div>
	<div class="col-sm-4"></div>
</div>

